# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question1:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
num=list(())
num.extend([1,2,3,4])
num

[1, 2, 3, 4]

** `Question2:` Remove number "3" in a list**

In [2]:
num.remove(3)
num

[1, 2, 4]

In [4]:
num=[1,2,3,4]
del num[2]
num

[1, 2, 4]

In [6]:
num=[1,2,3,4]
num.pop(2)
num

[1, 2, 4]

**`Question3:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [8]:
ist=[2,3,4]
ist.insert(0,1)
ist

[1, 2, 3, 4]

**`Question4:` Insert "two-and-half" in 2nd position**

In [9]:
ist.insert(1,'two-and-half')

In [10]:
ist

[1, 'two-and-half', 2, 3, 4]

**`Question5:` phrase = "Don't panic!"**
- **Convert above text into list**

In [16]:
phrase="Don't panic!"
g=list((phrase))
g

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question6:` Remove ** '** and **!** in the list

In [20]:
type(g)

list

In [26]:
i=0
while i<len(g):
   if g[i]=="'" or g[i]=="!":
        g.remove(g[i])
   i=i+1
print(g)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question7:` Remove "p" , "a", "n","D" and extend at the last**

In [53]:
x=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
i=0
while i<len(x):
   if x[i]=="p" or x[i]=="a" or x[i]=="n" or x[i]=="D":
        x.remove(x[i])
   i=i+1
print(x)

['o', 't', ' ', 'a', 'i', 'c']

In [56]:
c=['o', 't', ' ', 'a', 'i', 'c']
c.extend(['p','a','n','d'])
c

['o', 't', ' ', 'a', 'i', 'c', 'p', 'a', 'n', 'd']

**`Question8:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [59]:
j=""
i=0
v=['p', 'a', 'n', 'D', 'a']
while i<len(v):
    if v[i].isalpha():
        j=j+v[i]
    i=i+1
print(j)

panDa

###  Tuples

**`Question9:` Create a tuples for numbers 31,24,35,85 as nums**

In [71]:
nums_t=(31,24,35,85)

print("data type {}:".format(type(nums_t)))
print(nums_t)

data type <class 'tuple'>:
(31, 24, 35, 85)

**`Question10:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [248]:
l=list(nums_t)
l.remove(35)
tuple((l))

(31, 24, 85)

**Extent** tuple (85,19)

In [257]:
adl=[]
adl.extend(l)
adl.extend([85,19])
tuple(adl)

(31, 24, 85, 85, 19)

**`Question11:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [258]:
tpl = ('i','n','n','0')
c=0
while c<len(tpl): 
    if tpl[c]=='i':
        print("True","i exists in the tuple")
    c=c+1

True i exists in the tuple

**`Question12:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [98]:
list = ['Hello',100,[],'innomatics']
list[2]='[200]'
list

['Hello', 100, '[200]', 'innomatics']

**`Question13:` Write a Python program to reverse a tuple.**

In [64]:
l = ("Innomatics")
print(list((l[::-1])))

['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question14:` Write a Python program to add one more value at last postion of tuples in a list**
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [259]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl1=[]
for y in tpl:
       tpl1.append(y[0::]+(int(input()),))

100
100
100

In [260]:
tpl1

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question15:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [261]:
t1= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
t2=[]
t3=[]
for y in t1:
     t2.append(y[0:2:]+(int(input()),))

100
100
100

In [262]:
t2

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question16:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [263]:
a='5 2 3 6 6 7'
x=list((a))
x.sort()
x[-2]

'6'

### `Question17:`  please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [264]:
h=[12,24,35,70,88,120,155]
h.pop(0)
h.pop(3)
h.pop(3)
h

[24, 35, 70, 155]

### `Question18:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [265]:
z=(1,2,3,4,5,6,7,8,9,10)
print(z[0:5],z[5:9])

(1, 2, 3, 4, 5) (6, 7, 8, 9)

### `Question19:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [266]:
g=()
i=0
tuples=(1,2,3,4,5,6,7,8,9,10)
while i<len(tuples):
       if tuples[i]%2==0:
            g=g+(tuples[i],)
       i=i+1
print(g)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
1.list is immutable and tuple mutable
2.Tuples are more memory efficient than the lists
3.list syntax in square brackets [], tuples syntax in paranthesis()
4.lists supports many built in functioons and tuples not supports many built in functions
5.lsts contains lot of memory and tuples contains less memory
6.creation of lists and accessing element is slower and creation of tuples and accessing element is faster

### 2. Explain the difference between append() and extend() with examples

In [ ]:
append() is used to add only one element to end list 
where as extend() is used to add n number  of individual elements to end of the list.takes one list as argument.

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
pop() is used to remove one one element in list based on the index value.if index is not given in pop ,it will automatically delete last value in list.
remove() is used to remove  only one element based on element itself in remove method.
eg:x=[1,2,3,4]
    x.pop(2)
    x
    o/p:[1,2,4]
eg:x=[1,2,3,4]
    x.remove(3)
    x
    o/p:[1,2,4]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)