# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [9]:
person1={"Name": "John","Gender": "Male","Occupation": "Data Scientist","Location" :"Nizampet,Hyderabad"}

In [10]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [21]:
list(person1)

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [24]:
del person1["Location"]

In [25]:
person1

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [27]:
person2= {"Name" : "Raghu Ram",
"Gender" : "Male",
"Age": 25,
"Occupation" : "Data Scienctist"}

In [28]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scienctist'}

> **`Question:` Print the output as show below**

In [31]:
print("====person1====",person1)
print("====person2====",person2)

====person1==== {'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}
====person2==== {'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [61]:
f={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del f[1]

In [62]:
f.pop(3)
f

{2: 4, 4: 16, 5: 25, 6: 36, 7: 49}

In [63]:
f.popitem()
f

{2: 4, 4: 16, 5: 25, 6: 36}

In [65]:
f.clear()
f

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [77]:
x={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
def desc(x):
            y=x.values()
            list(y).sort(reverse=True)
            return y

In [78]:
desc(x)

dict_values([0, 1, 9, 25, 49, 81])

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [82]:
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)

In [83]:
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

In [57]:
sample={'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},'emp3':{'name': 'Charan', 'salary': 6500}}

In [58]:
sample["emp2"]["salary"]=8500

In [59]:
sample

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8500},
 'emp3': {'name': 'Charan', 'salary': 6500}}

**`Question:` Print the value of key ‘history’ from the below dict**

In [39]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [55]:
sampleDict["class"]["student"]["marks"]["history"]

80

**`Question:` Rename a key Location to a Area in the following dictionary**

In [35]:
x={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [36]:
x.update({"area":"nizamet,hyderabad"})
del x["Location"]
x

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'area': 'nizamet,hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [32]:
db = {'ram':1234,'raghu':5678,'kanav':1357}
# print(db.values())
if input("entre user name:") in db.keys():
        a=int(input("entre user password:"))
        if a in db.values():
            print("hello username")
else: 
    print("you want me to add into the database") 
    db[input("entre user name:")]=int(input("entre user password:"))
print(db)

entre user name:dharan
you want me to add into the database
entre user password:1456
entre user name:dharani
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'dharani': 1456}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)